.build/
.deps/
.runtime/
**/x64/
**/Debug/
**/Release/
**/.vs/
**/__pycache__/
*.log
*.csv
*.pdb
*.obj
*.user
*.rgba16f
dlssnr_on_amd_weights.bin
dlssnr_amd_pass*.dll
src/OptiScaler/library/
src/external/freetype/freetype.lib
*.download
*.rgba
